<div class="headline"
	 data-bind="i18n: {'key': '%MODULENAME%/INFO_TEXT_CONTAINS_PUBLIC_KEYS_WITH_EMAIL'},
	 visible: keysToImport().length > 0 && allowOnlyPublicKeyForEmail() !== ''"
></div>
<div data-bind="foreach: keysToImport">
	<div class="key_item">
		<label data-bind="css: {'checked': needToImport}" class="custom_checkbox checked">
			<span class="icon"></span>
			<input type="checkbox" data-bind="checked: needToImport, attr: {'id': 'need_to_import_' + id}">
		</label>
		<label data-bind="attr: {'for': 'need_to_import_' + id}">
			<span class="key_email" data-bind="text: email"></span>
			<span data-bind="text: addInfo"></span>
			<span data-bind="text: '(external)', visible: isExternal"></span>
		</label>
	</div>
</div>

<div class="headline"
	 data-bind="text: disabledForContactHeading, visible: keysDisabledToImport().length > 0"
></div>
<div data-bind="foreach: keysDisabledToImport">
	<div class="key_item disabled">
		<label>
			<span class="key_email" data-bind="text: email"></span>
			<span data-bind="text: addInfo"></span>
			<span data-bind="text: '(external)', visible: isExternal"></span>
		</label>
	</div>
</div>
