<div class="fieldset">
	<div class="row">
		<b class="value"
		   data-bind="i18n: {'key': '%MODULENAME%/LABEL_KEYS_FROM_THIS_DEVICE'}"
		></b>
	</div>
	<div class="row" data-bind="{visible: bTeamContactsAvailable}">
		<span class="value hint"
		   data-bind="i18n: {'key': '%MODULENAME%/LABEL_YOUR_KEYS_HINT'}"
		></span>
	</div>
	<div class="row keys_label">
		<span class="label" data-bind="i18n: {'key': '%MODULENAME%/LABEL_PUBLIC_KEYS'}"></span>
		<span class="value" data-bind="i18n: {'key': '%MODULENAME%/INFO_EMPTY_PUBLIC_KEYS'},
			  visible: publicKeysFromThisDevice().length === 0"
		></span>
	</div>
	<div class="row folders items_list" data-bind="foreach: publicKeysFromThisDevice">
		<div class="item">
			<span class="title">
				<span class="controls">
					<span class="button subscribe subscribed"
						  data-bind="customTooltip: '%MODULENAME%/ACTION_VIEW_KEY',
						  click: function () { $parent.showArmor(key); }"
					></span>
					<span class="button delete"
						  data-bind="customTooltip: '%MODULENAME%/ACTION_DELETE_KEY',
						  click: function () { $parent.removeKeyFromThisDevice(key); }"
					></span>
				</span>
				<span class="name">
					<span class="text" data-bind="text: user"></span>
				</span>
				<span class="buttons" style="margin-left: 6px;" data-bind="visible: isOwn">
					<span class="button contour_button"
						  data-bind="i18n: {'key': '%MODULENAME%/ACTION_SAVE_KEY_TO_MY_TEAM_CONTACT'},
						  visible: !hasOwnKeyFromTeamContacts,
						  click: function () { $parent.saveOwnKeyToTeamContact(key); }"
					></span>
					<span class="button contour_button"
						  data-bind="i18n: {'key': '%MODULENAME%/ACTION_UPDATE_KEY_IN_MY_TEAM_CONTACT'},
						  visible: hasOwnKeyFromTeamContacts && !isSameKeyFromTeamContacts,
						  click: function () { $parent.saveOwnKeyToTeamContact(key); }"
					></span>
					<span class="hint"
						  data-bind="i18n: {'key': '%MODULENAME%/INFO_OWN_KEY_IS_ALREADY_IN_TEAM_CONTACT'},
						  visible: hasOwnKeyFromTeamContacts && isSameKeyFromTeamContacts"
					></span>
				</span>
			</span>
		</div>
	</div>
	<div class="row keys_label">
		<span class="label" data-bind="i18n: {'key': '%MODULENAME%/LABEL_PRIVATE_KEYS'}"></span>
		<span class="value" data-bind="i18n: {'key': '%MODULENAME%/INFO_EMPTY_PRIVATE_KEYS'},
			  visible: privateKeysFromThisDevice().length === 0"
		></span>
	</div>
	<div class="row folders items_list" data-bind="foreach: privateKeysFromThisDevice">
		<div class="item">
			<span class="title">
				<span class="controls">
					<span class="button subscribe subscribed"
						  data-bind="customTooltip: '%MODULENAME%/ACTION_VIEW_KEY',
						  click: function () { $parent.showArmor(key); }"
					></span>
					<span class="button delete"
						  data-bind="customTooltip: '%MODULENAME%/ACTION_DELETE_KEY',
						  click: function () { $parent.removeKeyFromThisDevice(key); }"
					></span>
				</span>
				<span class="name">
					<span class="text" data-bind="text: user"></span>
				</span>
			</span>
		</div>
	</div>
</div>
